<% include partials/header %>

<div class="container databoard">
    <h1 class="tocenter">Data About <span style="color: rgb();">UCSD CARPOOL</span></h1>
    <p>So far...</p>
    <p><span class="data"><%= data.user %></span> people registered as users at UCSD CARPOOL</p>
    <p><span class="data"><%= data.post %></span> posts (not including deleted ones) were successfully made</p>
    <p><span class="data"><%= data.message %></span> messages were left by users</p>
    <p><span class="data"><%= data.email %></span> password reset e-mails were sent</p>
    <p><span class="data"><%= data.webpage_visit %></span> times of visits were made by users</p>
</div>

<% include partials/footer %>