<% include partials/header %>

<div class="container">
    <h1 class="tocenter">Profile</h1>
    <h4>Records</h4>
    <div class="container">
        <table class="table table-hover background-gray">
            <thead>
                <tr>
                  <th scope="col">Departure</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Time</th>
                  <th scope="col">Organizer</th>
                  <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                <% user.trips.forEach(function(post){ %>
                    <tr>
                      <td><%= post.departure %></td>
                      <td><%= post.destination %></td>
                      <td><%= post.date %> - <%= post.time_hour %>:<%= post.time_minute %>  <%= post.time_apm %></td>
                      <td><%= post.author.username%></td>
                      <td><a href="/posts/<%= post._id %>" class="btn btn-success">Details</a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>



<% include partials/footer %>