<% include ./partials/header %>
<div class="container">
    <a class="btn btn-success float-right" href="/posts">Back</a>
    <h1 class="tocenter togodown">Details</h1>
</div>
<div class="container board">
    <h4>Information</h4>
    <table class="table">
        <tbody>
            <tr>
                <td class="variable-name">Organizer:</td>
                <td><%= foundPost.author.username %></td>
            </tr>
            <tr>
                <td class="variable-name">Depart From:</td>
                <td><%= foundPost.departure %></td>
            </tr>
            <tr>
                <td class="variable-name">Go To:</td>
                <td><%= foundPost.destination %></td>
            </tr>
            <tr>
                <td class="variable-name">Departure Time:</td>
                <td><%= foundPost.date %> - <%= foundPost.time_hour %>:<%= foundPost.time_minute %>  <%= foundPost.time_apm %></td>
            </tr>
            <tr>
                <td class="variable-name">Available Slots:</td>
                <td><%= foundPost.slots %></td>
            </tr>
            <tr>
                <td class="variable-name">Companions:</td>
                <td>
                    <% foundPost.companion.forEach(function(c){ %>
                        <div class="companion-div"><%= c.username %></div>
                    <% }) %>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>

    <% if(currentUser && foundPost.author.id.equals(currentUser._id)) { %>
        <a class="btn btn-sm btn-warning btn-width edit-button" href="/posts/<%= foundPost._id %>/edit">Edit</a>
        <form action="/posts/<%= foundPost._id %>?_method=DELETE" method="POST" class="deleteform">
            <button class="btn btn-sm btn-danger btn-width">Delete</button>
        </form>
    <% } else {%>
        <a class="btn btn-sm btn-warning disabled btn-width edit-button" aria-disabled="true" href="/posts/<%= foundPost._id %>/edit"><i class="fa fa-lock" aria-hidden="true"></i> Edit</a>
        <form action="/posts/<%= foundPost._id %>?_method=DELETE" method="POST" class="deleteform">
            <button class="btn btn-sm btn-danger btn-width" disabled><i class="fa fa-lock" aria-hidden="true"></i> Delete</button>
        </form>
        <% var hasJoined = false; %>
        <% foundPost.companion.forEach(function(c){ %>
        <%    if(c._id.equals(currentUser._id)) hasJoined = true; %>
        <% }); %>
        <% if(!hasJoined) { %>
            <form action="/posts/<%= foundPost._id %>/join?_method=PUT" method="POST" class="deleteform">
                <button class="btn btn-sm btn-success btn-width">Join</button>
            </form>
        <% } else { %>
            <form action="/posts/<%= foundPost._id %>/cancel?_method=PUT" method="POST" class="deleteform">
                <button class="btn btn-sm btn-danger btn-width">Quit</button>
            </form>
        <% } %>
    <% } %>
</div>
<div class="container board">
    <h4>Messages</h4>
    <hr>
    <% foundPost.messages.forEach(function(message){ %>
        <div class="row">
            <div class="col-md-12">
                <strong><%= message.author.username %></strong>
                <% var d = new Date(); %>
                <% var t = (d.getTime() - message.time.getTime())/1000; %>
                <% if(t<60) { %>
                    <span class="float-right"><%= Math.round(t) %> seconds ago</span>
                <% } else if(t<3600) { %>
                    <span class="float-right"><%= Math.round(t/60) %> minutes ago</span>
                <% } else if(t<3600*24) { %>
                    <span class="float-right"><%= Math.round(t/3600) %> hours ago</span>
                <% } else { %>
                    <span class="float-right"><%= message.time.getMonth() %>/<%= message.time.getDate() %>/<%= message.time.getFullYear() %></span>
                <% } %>
                <p><%= message.text %></p>
                <% if(currentUser && message.author.id.equals(currentUser._id)) { %>
                <!--<div class="container col-md-4 float-right message-button">-->
                    <a class="btn btn-sm btn-warning btn-width edit-button" 
                        href="/posts/<%= foundPost._id%>/comments/<%= message._id %>/edit">
                        Edit
                    </a>
                    <form action="/posts/<%= foundPost._id%>/comments/<%= message._id %>?_method=DELETE" method="POST" class="deleteform">
                        <input type="submit" class="btn btn-sm btn-danger deleteform btn-width" value="Delete">
                    </form>
                <!--</div>-->
                <% } %>
            </div>
        </div>
    <% }); %>
    
    <form action="/posts/<%= foundPost._id %>/comments" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="text" placeholder="text">
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-center">Leave A Message</button>
        </div>
    </form>
</div>

<% include ./partials/footer %>

